<ion-header>
  <ion-toolbar>
    <ion-title>
      Badges
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding" id="page1">
  <ion-item *ngFor="let badge of badges" color="none" id="badges-list-item7">
    <ion-thumbnail slot="start">
      <!-- <ion-img [src]="assets/img/appicon.png"></ion-img> -->
      <img src="assets/img/{{badge.categorie}}.png" />
    </ion-thumbnail>
    <ion-label>
      <h2>Badges: {{badge.nbBadges}}</h2>
      <P>{{badge.points}} points</P>
    </ion-label>
  </ion-item>
</ion-content>