<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>
        {{ 'TAB1_TITLE' | translate }}
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="badges" (click)="selectBadges()" >
      <ion-icon name="trophy"></ion-icon>
      <ion-label>
        Badges
      </ion-label>
    </ion-tab-button>

  <!--  <ion-tab-button id="tabusers" tab="users" >
      <ion-icon name="contacts"></ion-icon>
      <ion-label>
        Manage Users
      </ion-label>
    </ion-tab-button>-->

    <ion-tab-button id="tabhistory" tab="history">
      <ion-icon name="journal"></ion-icon>
      <ion-label>
        Histo
      </ion-label>
    </ion-tab-button>

      <ion-tab-button id="tabadmin" tab="admin">
        <ion-icon name="ribbon"></ion-icon>
        <ion-label>
          Points
        </ion-label>
      </ion-tab-button>
      <ion-tab-button id="tabrecap" tab="recap">
        <ion-icon name="contacts"></ion-icon>
        <ion-label>
          Users
        </ion-label>
      </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>