<ion-header>

    <ion-toolbar>
      <ion-title>
        User Administration
      </ion-title>
      <ion-buttons slot="end">
        <ion-button size="small" fill="outline"  (click)="openFile()">Import Excel
          <input #fileInput type="file" style="display:none;" (change)="importExcel($event.target.files)"
          accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
  

<h1>Administrators</h1>

<ion-grid  >
  <ion-row  >
    <ion-col class="col" >Nom</ion-col>
    <ion-col class="col" >Role</ion-col>
  </ion-row>
  <ion-row *ngFor="let ligne of admins" >

    <ion-col class="col-content" >
      
    <ion-toolbar> 
    <ion-label>{{ligne.user.firstName}} {{ligne.user.lastName}}</ion-label> 
    <ion-buttons slot="end">
            <ionic-context-menu >
              <ionic-context-menu-item icon="star-half" (click)="setAdmin(ligne.user.id)">
                <ion-label class="ion-text-wrap">Remove Administrator Role</ion-label></ionic-context-menu-item>
              <ionic-context-menu-item icon="close" (click)="removeUserRole(ligne.user.id)"><ion-label class="ion-text-wrap">Remove User Role</ion-label></ionic-context-menu-item>
              <ionic-context-menu-item icon="person-add" (click)="addUserRole(ligne.user.id)"><ion-label class="ion-text-wrap">Add User Role</ion-label></ionic-context-menu-item>

            </ionic-context-menu>
          </ion-buttons>
         </ion-toolbar> 
     </ion-col>
     <ion-col class="col-content" >{{ligne.user.authorities}}</ion-col>

  </ion-row>
</ion-grid>



<h1>Inactive</h1>


  <ion-grid  >
    <ion-row  >
      
      <ion-col class="col" >Nom</ion-col>
    </ion-row>
    <ion-row *ngFor="let ligne of inactive" >
      
      <ion-col class="col-content" >
        
      <ion-toolbar> 
       <a href="/history?id={{ligne.user.id}}"   >{{ligne.user.firstName}} {{ligne.user.lastName}}  </a>
      <ion-buttons slot="end">
              <ionic-context-menu >
                <ionic-context-menu-item icon="person-add" (click)="addUserRole(ligne.user.id)"><ion-label class="ion-text-wrap">Activate User</ion-label></ionic-context-menu-item>
                <ionic-context-menu-item icon="ion-trash-a" (click)="deleteUser(ligne.user.login)"><ion-label class="ion-text-wrap">Delete User</ion-label></ionic-context-menu-item>
              </ionic-context-menu>
            </ion-buttons>
           </ion-toolbar> 
       </ion-col>
    </ion-row>
  </ion-grid>
  
 

  <h1 >
    Users
  </h1 >
  

  <ion-grid  >
    <ion-row  >
      <ion-col class="col" >Nom</ion-col>
      <ion-col class="col" >Role</ion-col>
      <ion-col *ngFor="let col of badges" class="col" >{{col}}</ion-col>
      <ion-col class="col" >Master</ion-col>
      <ion-col class="col" >Legend</ion-col>
      <ion-col class="col" >Cadeau</ion-col>
    </ion-row>
    <ion-row *ngFor="let ligne of tab" >
  
      <ion-col class="col-content" >
        
      <ion-toolbar> 
       <a href="/history?id={{ligne.user.id}}"   >{{ligne.user.firstName}} {{ligne.user.lastName}}  </a>
      <ion-buttons slot="end">
              <ionic-context-menu >
                <ionic-context-menu-item icon="star-half" (click)="setAdmin(ligne.user.id)"><ion-label class="ion-text-wrap">Switch Administrator Role</ion-label></ionic-context-menu-item>
                <ionic-context-menu-item icon="close" (click)="removeUserRole(ligne.user.id)"><ion-label class="ion-text-wrap">Deactivate User</ion-label></ionic-context-menu-item>
              </ionic-context-menu>
            </ion-buttons>
           </ion-toolbar> 
       </ion-col>
       <ion-col class="col-content" >{{ligne.user.authorities}}</ion-col>

      <ion-col *ngFor="let col of badges" class="col-content" >
        
        <ion-toolbar> 
          {{ displayValueOrZero(ligne.badgesPro, col)   }} badge(s) pro;<br/> {{displayValueOrZero(ligne.points, col)}} points
         <ion-buttons slot="end">
                 <ionic-context-menu icon="ribbon">
                   <ionic-context-menu-item icon="trending-up" (click)="showPromptAlert(ligne.user.id, col,1)">Add Points</ionic-context-menu-item>
                   <ionic-context-menu-item icon="trending-down" (click)="showPromptAlert(ligne.user.id, col,-1)">Remove Points</ionic-context-menu-item>
                 </ionic-context-menu>
               </ion-buttons>
          </ion-toolbar> 
        
        </ion-col>
      <ion-col class="col-content" >{{ligne.badgeMaster}}</ion-col>
      <ion-col class="col-content" >{{ligne.badgeLegend}}</ion-col>
      <ion-col class="col-content" >{{ligne.shouldReceivePresent}}</ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>

 