<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'WELCOME_TITLE' | translate }}, {{account?.firstName}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        {{ 'LOGOUT_TITLE' | translate }}
        <ion-icon slot="end" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>THE GAME</div>

  <ion-list>
    <ion-item button="true" (click)="presentProToMasterConfirm()">
      <ion-label>
        <H2>{{nbBadgesPro}} Badges pro</H2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Il reste encore <span [ngStyle]="{'color': restDayofMonth < 10 ? 'red' : 'inherit'}">{{restDayofMonth}} Jours</span> avant la raz des points</ion-label>
    </ion-item>
    <ion-item button="true" (click)="presentMasterToLegendConfirm()">
      <ion-thumbnail *ngFor="let i of nbBadgesMaster">
        <img src="assets/img/MASTER.png" />
      </ion-thumbnail>
    </ion-item>
    <ion-item>
      <ion-label>Il reste encore <span [ngStyle]="{'color': restDayofQuarter < 10 ? 'red' : 'inherit'}">{{restDayofQuarter}} Jours</span> avant la raz des badges master</ion-label>
    </ion-item>

    <ion-item button="true" (click)="presentLegendToPresentConfirm()">
      <ion-thumbnail *ngFor="let i of nbBadgesLegend">
        <img src="assets/img/LEGEND.png" />
      </ion-thumbnail>
    </ion-item>
    <ion-item>
      <ion-label>Il reste encore <span [ngStyle]="{'color': restDayofYear < 10 ? 'red' : 'inherit'}">{{restDayofYear}} Jours</span> avant la raz des badges legend</ion-label>
    </ion-item>

  </ion-list>

</ion-content>